/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.site-header {
  border: 2px solid white;
  margin: 19px 27px;
  padding: 55px 29px 50px 29px;
  background-image: url("../img/img_header.jpg");
  color: white; 
  box-shadow: inset 0 0 0 100px #00000099;
}

.site-header h1 {
  font-size: 25px;
}

em {
  color: #21db90;
  font-size: 20px;
}

main {
  margin: 19px 27px;
}

div {
  background-color: #2afca6;
  padding: 30px 29px 50px 29px;
  color: #033427;
  margin-bottom: 20px;
  font-size: 16px;
}

div h2 {
  margin: 0 0 13px 0;
}

div p{
margin: 0 0 16px 0;
}

article {
  background-color: white;
  padding: 34px 29px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0 0 14px 0;
}

header p {
  color: #a5a5a5;
  font-size: 12px; 
}

footer {
  border: 2px solid #2bffaa; 
  color: white;
  margin: 19px 27px;
  text-align: center;
  font-size: 10px; 
}

.button {
  background-color: #444444;
  color: white;
  padding: 6px 15px; 
  font-size: 13px; 
  text-decoration: none;
  box-shadow: inset 0 0 2px 2px #393939; 
  box-shadow: 0 0 2px 2px #f6f6f6;
  text-shadow: 0 0 2px 2px #393939;
}

.author {
  color: #18fca8;
}

.date {
  color: #343434;
}

img {
  max-width: 100%;
  height: 100%; 
}

figure {
  margin: 0;
  box-shadow: 0 0 5px 5px #e7e7e7;
}

figcaption {
  font-size: 12px;
  padding: 10px;
  padding-top: 13px;
  margin-bottom: 30px;
}

h1 {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}